# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp
/*.DS_Store

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# data files
data/
Data_processed/
Data_raw/
Figures/

# old versions of markdown htmls
"./Analysis/VegComposition/ModelFitting/outputHtmls/v1/"
"./Analysis/VegComposition/ModelFitting/outputHtmls/v2/"
"./Analysis/VegComposition/ModelFitting/outputHtmls/v3/
"./Analysis/BiomassQuantity/Analysis/modelRunMarkdowns/v1/"

"/Analysis/VegComposition/ModelFitting/outputHtmls/v1/"
"/Analysis/VegComposition/ModelFitting/outputHtmls/v2/"
"/Analysis/VegComposition/ModelFitting/outputHtmls/v3/"
"/Analysis/BiomassQuantity/Analysis/modelRunMarkdowns/v1/"

# model output files
/Analysis/BiomassQuantity/Analysis/models/
./Analysis/BiomassQuantity/Analysis/models/
/Analysis/ecoregionClassification/ModelFitting/ModelObjects/
./Analysis/ecoregionClassification/ModelFitting/ModelObjects/
./Analysis/VegComposition/ModelFitting/models/
./Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_C3GramCover_n50000.RDS
./Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_C4GramCover_n50000.RDS
./Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_ConifCover_n50000.RDS
./Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_HerbCover_n50000.RDS
./Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_ShrubCover_n50000.RDS
./Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_TotalGramCover_n50000.RDS
./Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_TotalTreeCover_n50000.RDS
./Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_TotalTreeCover_n40000.RDS
/Analysis/VegComposition/ModelFitting/models/
/Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_C3GramCover_n50000.RDS
/Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_C4GramCover_n50000.RDS
/Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_ConifCover_n50000.RDS
/Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_HerbCover_n50000.RDS
/Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_ShrubCover_n50000.RDS
/Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_TotalGramCover_n50000.RDS
/Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_TotalTreeCover_n50000.RDS
/Analysis/VegComposition/ModelFitting/models/glm_beta_model_FirstPass_TotalTreeCover_n40000.RDAnalysis/VegComposition/ModelFitting/models/
